<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAmation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        form {
            max-width: 500px;
            margin: auto;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        textarea {
            resize: vertical;
        }

        .custom-file-label::after {
            content: "Browse";
        }

        .custom-file-input:focus ~ .custom-file-label::after {
            border-color: #80bdff;
        }
    </style>

</head>
<body>
    <h1>WA Automation</h1>

    <form action="/automation" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="media_content_">Upload Media Content (Image/Video)</label>
            <div class="custom-file">
                <label class="custom-file-label" for="media_content_" id="media_content_label">Choose file</label>
                <input type="file" class="custom-file-input" id="media_content_" name="media_content" accept=".jpg, .jpeg, .png, .mp4" onchange="updateMediaContentLabel(this)">
            </div>
        </div>

        <div class="form-group">
            <label for="message">Write or Copy/Paste Message</label>
            <textarea class="form-control" id="message" name="message" rows="4"></textarea>
        </div>

        <br>
        <br>

        <div class="form-group">
            <label for="bulkFile_">Upload Excel File</label>
            <div class="custom-file">
                <label class="custom-file-label" for="bulkFile_" id="bulkFile_label">Choose File</label>
                <input type="file" class="custom-file-input" id="bulkFile_" name="bulkFile" accept=".xls, .xlsx, .csv" onchange="updateExcelContentLabel(this)">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Start Job</button>
        <button type="button" class="btn btn-danger" onclick="killAutomation()">Stop Automation</button>


    </form>
    <script>
    function updateMediaContentLabel(input) {
        var label = document.getElementById('media_content_label');
        label.innerText = input.files[0].name;
    }
    </script>
    <script>
    function updateExcelContentLabel(input) {
        var label = document.getElementById('bulkFile_label');
        label.innerText = input.files[0].name;
    }
    </script>

<script>
function killAutomation() {
    fetch('/kill_automation')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            alert('Automation stopped successfully'); // Alert with custom message
        })
        .catch(error => {
            console.error('There was an error!', error);
        });
}
</script>

</body>
</html>
