<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Include jspdf library -->
    <style>

        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body>

<!--    <a href="http://192.168.1.49:5001/download_pdf"><button class="center-block">Download PDF</button></a>-->
<h2 align="center">Completed Jobs</h2>
<table class="table table-dark table-hover">
    <tr>
        <th>JobID</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Timestamp</th>
    </tr>

    {% for item in result['completed_job'] %}
    <tr>
        <td>{{ item['JobID'] }}</td>
        <td>{{ item.get('contact', '') }}</td>
        <td>{{ item['status'] }}</td>
        <td>{{ item['timestamp'] }}</td>
    </tr>
    {% endfor %}
</table>

<br><br>

<h2 align="center">Uncompleted Jobs</h2>
<table class="table table-dark table-hover">
    <tr>
        <th>JobID</th>
        <th>Contact</th>
        <th>Reason</th>
        <th>Timestamp</th>
    </tr>
    {% for item in result['uncompleted_job'] %}
    <tr>
        <td>{{ item['JobID'] }}</td>
        <td>{{ item.get('contact', '') }}</td>
        <td>{{ item['reason'] }}</td>
        <td>{{ item['timestamp'] }}</td>
    </tr>
    {% endfor %}
</table>

<form action="/download_pdf" method="get">
    <button type="submit" class="center-block btn btn-primary">Download PDF</button>
</form>
<br>
<br>
<form action="/" method="get">
    <button type="submit" class="center-block btn btn-primary float-right" >Home</button>
</form>
</body>
</html>
